$gold : gold;
//Colors
$color-main: #2d3e50;

$color-form_active: #95d042;
$color-form_error: #e84c3d;

$color-button_big: #f6c640;
$color-button_big_hovered: #dba308;
$color-button_small: #3b99d7;
$color-button_small_hovered: #3388c0;

$color-link: #2d3e50;
$color-link_hovered: #3b99d7;
$color-link_visited: #9da3a8;

//Fonts
$font-main: 'latobold';
$font-text: 'latolight';
$font-button_small: 'latoheavy';
