head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#")
	meta(charset="utf-8")
	meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
	
	meta(name="viewport" content="width=1020px")
	
	title ACADEMIC adventures
	meta(name="description" content="Academic adventures site.")
	meta(name="keywords" content="")
	meta(name="robots" content="INDEX,FOLLOW")
		
	link(rel="icon" href="/favicon/favicon.ico" type="image/x-icon")
		
	//- include _socials.jade
	link(rel='stylesheet' type='text/css' href='css/styles.css')