@import "header";
@import "footer";
@import "popup";

h1, h2, h3, h4 {
  font-family: $font-main;
}

h1 {
  @include font-size(36px);
}
h2 {
  @include font-size(24px);
}
h3, h4 {
  @include font-size(14px);
}
h3{
  text-transform: uppercase;
}
a {
  @include font-size(14px);
  font-family: $font-main;
  color: $color-link;
  text-decoration: underline;
  &:hover {
    color: $color-link_hovered;
  }
}
.maincontent {
  @include font-size(14px);
  font-family: $font-text;
  color: $color-main;
  position: relative;
  // max-width: 1020px;
  // margin: 0 auto;
}
.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

.hidden {
  display: none;
}

//Banner
.banner {
  width: 100%;
  min-height: 364px;
  position: relative;
  &-container {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__slogan {
    width: 460px;
    padding-top: 88px;
    color: #ffffff;
    font-family: $font-main;
    @include font-size(36px);
  }
}

//Section serv
.serv {
  height: 309px;
  background-color: $color-main;
  transform: translateY(-31px);
  &-container {
    transform: translateY(-54px);
    width: 780px;
    height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    text-align: center;
  }
  &__item {
    display: inline-block;
    box-sizing: border-box;
    padding-top: 19px;
    vertical-align: top;
    width: 220px;
    height: 100%;
    margin-left: 55px;
    &:first-child {
      margin-left: 0;
    }
  }
  &__img {
    margin-bottom: 18px;
    min-height: 104px;
    vertical-align: bottom;
  }
  &__title {
    margin-bottom: 10px;
  }
  &__desc {
    min-height: 80px;
    padding: 0 10px;
    margin-bottom: 14px;
    line-height: 20px;
  }
  &__btn {
    display: inline-block;
    width: 62px;
    height: 26px;
    border-bottom: 2px solid $color-button_small_hovered;
    background-color: $color-button_small;
    color: #ffffff;
    font-family: $font-button_small;
    @include font-size(12px);
    text-decoration: none;
    text-transform: uppercase;
    line-height: 26px;
    &:hover {
      color: #ffffff;
      background-color: $color-button_small_hovered;
    }
  }
}

//Gallery
.gallery {
  padding-top: 55px;
  padding-bottom: 30px;
  &__title {
    text-align: center;
    margin-bottom: 85px;
    &:after {
      content: '';
      display: inline-block;
      width: 88px;
      height: 8px;
      background-image: url("../img/breakline_gallery.png");
      position: absolute;
      top: 80px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-col {
    display: flex;
    flex-direction: column;
  }
  &__item {
    width: 220px;
    height: 169px;
    margin-bottom: 6px;
  }
  &__item_width-480 {
    width: 480px;
  }
  &__item_width-470 {
    width: 470px;
    height: 344px;
  }
  &__item_width-229 {
    width: 229px;
    height: 344px;
  }
}
.gallery__title:after, .reviews__title:after, .how__title:after, .popup__title:after {
  content: '';
  display: inline-block;
  width: 88px;
  height: 8px;
  background-image: url("../img/breakline_gallery.png");
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
.how__title:after {
  background-image: url("../img/breakline_white.png");
}
.popup__title:after {
  top: 110px;
}

//How it works section
.how {
  min-height: 425px;
  padding-top: 58px;
  background-image: url("../img/how-it-works__bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  &__title {
    margin-bottom: 85px;
  }
  &__item {
    display: inline-block;
    width: 140px;
    margin-left: 60px;
    &:first-child {
      margin-left: 0;
    }
  }
  &__icon {
    display: inline-block;
    width: 106px;
    height: 106px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    position: relative;
    margin-bottom: 20px;
  }
  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//Reviews
.reviews {
  padding-top: 58px;
  &__title {
    text-align: center;
    margin-bottom: 88px;
  }
  &__item {
    position: relative;
    margin-bottom: 44px;
    min-height: 300px;
  }
  &__avatar {
    display: inline-block;
    background-color: #cbcbcb;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    .avatar__img {
      border-radius: 50%;
    }
  }
  &__name {
    display: inline-block;
    position: absolute;
    bottom: 25px;
    left: 125px;
  }
  &__comment {
    background-image: url("../img/reviews__comment.png");
    background-repeat: no-repeat;
    min-height: 220px;
    max-width: 597px;
    box-sizing: border-box;
    padding: 40px 15px 40px 40px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 95px;
  }
}

//Application
.application {
  background-image: url("../img/application__bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 243px;
  color: #ffffff;
  position: relative;
  &__title, &__btn {
    display: inline-block;
    position: absolute;
    top: 93px;
  }
  &__title {
    right: 200px;
  }
  &__btn {
    right: 0;
    font-family: $font-main;
    @include font-size(36px);
    text-align: center;
    color: #ffffff;
    box-sizing: border-box;
    width: 153px;
    height: 61px;
    border-bottom: 5px solid #dba308;
    background-color: $color-button_big;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      color: #ffffff;
      background-color: $color-button_big_hovered;
    }
  }
}