header.header
  .container
    a.brand(href="#")
      img.brand__img(src="img/logo.png", alt="Logo")
      p.brand__text Academic adventures
    nav.nav
      ul.nav__list
        li.nav__item
          a.nav__link(href="#") academic tours
        li.nav__item
          a.nav__link(href="#") english courses
        li.nav__item
          a.nav__link(href="#") stay at home