script(defer="defer" src="/js/vendor/vendor.js")
script(defer="defer" src="/js/vendor/jquery-1.12.4.min.js")
script(defer="defer" src="/js/vendor/imagesloaded.pkgd.min.js")
script(defer="defer" src="/js/vendor/masonry.pkgd.min.js")
script(defer="defer" src="/js/script.js")